<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home Page</title>

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/main.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
  <script type="text/javascript" src="/scripts/map_points.js"></script>
</head>

<body>
  <h1>Wiki Maps</h1>
  <header class="user_status">UserName/logged in here...</header>
  <section>
    <div>
      <form method="POST" action="/maps">
        <input id="map_name" type="text"></input>
        <input id="map_desc" type="text"></input>
        <button type="submit">Submit</button>
      </form>
    </div>
    <div class="maps_list"><h2> Maps here...</h2></div>
    <div class="map_points_list"><h2>Maps Points here...</h2></div>
    <div class="favourites_list"><h2>Favourite Maps here...</h2></div>
    <div class="contributed_maps_list"><h2>Maps I Contributed to here...</h2></div>

  </section>
  <!-- App JS -->
  <!--<script type="text/javascript" src="/scripts/app.js"></script>
</body>

</html>
