<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home Page</title>

  <!-- Map API links -->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css">
  <!--Make sure you put this AFTER Leaflet's CSS -->
  <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
    integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
    crossorigin="">
  </script>
  <script type="text/javascript" src="/scripts/map.js"></script>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/main.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
</head>

<!-- Calling the map function here, may want to swap to jquery later ($(document).ready) -->
<body onload='initMap()'>

  <div id="map"></div>

  <nav>
    <button type="button"><i class="fa-solid fa-earth-americas"></i> Maps</button>
    <button type="button"><i class="fa-solid fa-location-dot"></i> Pins</button>
    <button type="button"><i class="fa-solid fa-star"></i> Favorites</button>
    <button type="button"><i class="fa-solid fa-handshake-angle"></i> Contributions</button>
  </nav>

  <section id="side-bar">
    <div>
      <h1>Wiki Maps</h1>
    </div>

    <div class="folder">
      <div id="maps-collapse">
        <h2><i class="fa-solid fa-earth-americas"></i>Maps<i class="fa-solid fa-angle-down"></i></h2>
      </div>
      <div class="maps_list"> Maps here...</div>
    </div>

    <div class="folder push-top">
      <div id="pins-collapse">
        <h2><i class="fa-solid fa-location-dot"></i>Pins<i class="fa-solid fa-angle-down"></i></h2>
      </div>
      <div class="map_points_list">Maps Points here...</div>
    </div>

    <div class="folder push-top">
      <div id="fav-collapse">
        <h2><i class="fa-solid fa-star"></i>Favourites<i class="fa-solid fa-angle-down"></i></h2>
      </div>
      <div class="favourites_list">Favourite Maps here...</div>
    </div>

    <div class="folder push-top">
      <div id="contrib-collapse">
        <h2><i class="fa-solid fa-handshake-angle"></i>Contributions<i class="fa-solid fa-angle-down"></i></h2>
      </div>
      <div class="contributed_maps_list">Maps I Contributed to here...</div>
    </div>
  </section>


  <!--<h1>Wiki Maps</h1>
  <header class="user_status">UserName/logged in here...</header>
  <section>
    <div>
      <form method="POST" action="/maps">
        <input id="map_name" type="text"></input>
        <input id="map_desc" type="text"></input>
        <button type="submit">Submit</button>
      </form>
    </div>
    <div class="maps_list"> Maps here...</div>
    <div class="map_points_list">Maps Points here...</div>
    <div class="favourites_list">Favourite Maps here...</div>
    <div class="contributed_maps_list">Maps I Contributed to here...</div>

  </section>-->
  <!-- App JS -->
  <!--<script type="text/javascript" src="/scripts/app.js"></script> -->
</body>

</html>
