<!DOCTYPE html>
<html lang="en">

<head>
  <title>Wiki Maps</title>
  <link rel="icon" type="image/x-icon" href="/images/favicon.ico">

  <!-- Map API links -->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css">
  <!--Make sure you put this AFTER Leaflet's CSS -->
  <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
    integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
    crossorigin="">
  </script>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/main.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>

</head>

<!-- Calling the map function here, may want to swap to jquery later ($(document).ready) -->
<body>

  <div id="map"></div>

  <nav>
    <button type="button" id="maps-button"><i class="fa-solid fa-earth-americas"></i> Maps</button>
    <button type="button" id="pins-button"><i class="fa-solid fa-location-dot"></i> Pins</button>
    <button type="button" id="fav-button"><i class="fa-solid fa-star"></i> Favorites</button>
    <button type="button" id="contrib-button"><i class="fa-solid fa-handshake-angle"></i> Contributions</button>
    <button type="button" id="new-map-button"><i class="fa-solid fa-square-plus"></i> New Map</button>
    <button type="button" id="new-pin-button"><i class="fa-solid fa-circle-plus"></i> New Pin</button>
    <span id="login_btn">Logged in as</span>
  </nav>

  <section id="side-bar">
    <!-- not working - <img src="../public/images/pin_logo.png" alt="Wiki Maps Logo"> -->
    <div>
      <img src="../images/map_logo.png" alt="Wiki Maps Logo">
      <h1>Wiki Maps</h1>
      <h2 id="map-name">Map Name</h2>
    </div>

    <div class="folder push-next">
      <div id="maps-collapse">
        <h2><i class="fa-solid fa-earth-americas"></i>Maps<i class="fa-solid fa-angle-down"></i></h2>
      </div>
      <div class="maps_list hide">&nbsp;</div>
    </div>

    <div class="folder push-next">
      <div id="pins-collapse">
        <h2><i class="fa-solid fa-location-dot"></i>Pins<i class="fa-solid fa-angle-down"></i></h2>
      </div>
      <div class="map_points_list hide">&nbsp;</div>
    </div>

    <div class="folder push-next">
      <div id="fav-collapse">
        <h2><i class="fa-solid fa-star"></i>Favourites<i class="fa-solid fa-angle-down"></i></h2>
      </div>
      <div class="favourites_list hide">&nbsp;</div>
    </div>

    <div class="folder push-next">
      <div id="contrib-collapse">
        <h2><i class="fa-solid fa-handshake-angle"></i>Contributions<i class="fa-solid fa-angle-down"></i></h2>
      </div>
      <div class="contributed_maps_list hide">&nbsp;</div>
    </div>

    <div class="folder push-next">
      <div id="new-map-collapse">
        <h2><i class="fa-solid fa-square-plus"></i>New Map<i class="fa-solid fa-angle-down"></i></h2>
      </div>
      <div class="new_map hide">
        <form action="" method="post">
          <label for="mtitle">Title:</label>
          <input type="text" id="mtitle" name="mtitle"><br><br>
          <label for="mdesc">Description:</label>
          <input type="text" id="mdesc" name="mdesc"><br><br>
          <input type="submit" value="Submit" id="msubmit">
        </form>
      </div>
    </div>

    <div class="folder push-next">
      <div id="new-pin-collapse">
        <h2><i class="fa-solid fa-circle-plus"></i>New Pin<i class="fa-solid fa-angle-down"></i></h2>
        <h2 class="form-hide"><i class="fa-solid fa-circle-plus"></i>Edit Pin<i class="fa-solid fa-angle-down"></i></h2>
      </div>
      <div class="new_pin hide">
        <form action="" method="post" id="pform">
          <label for="ptitle">Title:</label>
          <input type="text" id="ptitle" name="ptitle"><br><br>
          <label for="pdesc">Description:</label>
          <input type="text" id="pdesc" name="pdesc"><br><br>
          <label for="pimage">Image URL:</label>
          <input type="text" id="pimage" name="pimage"><br><br>
          <input type="submit" value="Submit" id="psubmit">
        </form>
        <form action="" method="post" id="update-pform" class="form-hide">
          <label for="update-ptitle">Edit Title:</label>
          <input type="text" id="update-ptitle" name="update-ptitle"><br><br>
          <label for="update-pdesc">Edit Description:</label>
          <input type="text" id="update-pdesc" name="update-pdesc"><br><br>
          <label for="update-pimage">Edit Image URL:</label>
          <input type="text" id="update-pimage" name="update-pimage"><br><br>
          <input type="submit" value="Update" id="update-psubmit">
          <input type="submit" value="Cancel" id="cancel-psubmit">
        </form>
      </div>
    </div>
  </section>

  <!-- App JS -->
  <script type="text/javascript" src="/scripts/main.js"></script>
  <script type="text/javascript" src="/scripts/login.js"></script>
  <script type="text/javascript" src="/scripts/maps.js"></script>
  <script type="text/javascript" src="/scripts/map_visuals.js"></script>
  <script type="text/javascript" src="/scripts/map_points.js"></script>
</body>

</html>
