body {
  display: flex;
  min-height: 100vh;
}

#map {
  z-index: 1;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

nav {
  z-index: 2;
  height: 50px;
  width: 80%;
  position: absolute;
  right: 0;
  background-color: none;
  display: flex;
  align-items: center;
  flex-direction: row;
}

nav button {
  background-color: white;
  border: none;
  color: black;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 25px;
  margin-left: 10px;
}

nav span {
  position: absolute;
  right: 20px;
  background-color: white;
  padding: 10px 20px;
  border-radius: 5px;
}

@keyframes buttonDown {
  from {margin-top: 0px;}
  to {margin-top: 6px;}
}

nav button:hover {
  animation: buttonDown 0.2s forwards;
  cursor: pointer;
}




